[user]
	name  = HidakaRintaro
	email = 53255166+HidakaRintaro@users.noreply.github.com

[alias]
	b   = branch
	bnm = branch --no-merged
	cm  = commit
	co  = checkout
  	ft  = fetch
  	ftp = fetch --prune
	gr  = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	p   = push
	po  = push origin
	puo = push -u origin
	st  = status
	sw  = switch
