add_newline = true  # Inserts a blank line between shell prompts
command_timeout = 1000  # Change command timeout from 500 to 1000 ms
format = """$env_var $all"""  # Add custom formatting before other stuff

# Drop ugly default prompt characters
[character]
success_symbol = ""
error_symbol = ""

[directory]
read_only = " 󰌾"
truncation_length = 5
truncation_symbol = "…/"

# Shows an icon depending on what distro it is running on
[env_var.STARSHIP_DISTRO]
format = '[$env_value](bold white) |'
variable = "STARSHIP_DISTRO"
disabled = false

[aws]
symbol = "󰸏 "

[bun]
symbol = " "

[c]
symbol = " "

[dart]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[gcloud]
symbol = "󱇶 "

[git_branch]
symbol = " "

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "

[haskell]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[kotlin]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[nodejs]
symbol = " "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[swift]
symbol = " "
